.DS_Store
*.pth
*.pyc
*.pyo
*.log
*.tmp
*.swp
*.out
*.mdb
*__pycache__/
*.vscode/
*.zip
features.h5
features.json
*/.ipynb_checkpoints
*.iml
misc.xml
modules.xml
profiles_settings.xml
Project_Default.xml
vcs.xml